extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
      h1 Lista de Reparações

    .w3-container
      p.w3-small Atualizado: #{date}
      p Total: #{repairs.length} registos

      table.w3-table-all.w3-hoverable.w3-margin-top
        tr
          th ID
          th Data
          th Cliente
          th Matrícula
          th Marca
          th Nº Intervenções

        each r in repairs
          tr(onclick=`window.location='/${r._id}'` style="cursor:pointer")
            td #{String(r._id).substring(0,8)}...
            td #{r.data}
            td #{r.nome}
            td #{r.viatura.matricula}
            td
              a(href='/' + r.viatura.marca) #{r.viatura.marca}
            td #{r.nr_intervencoes}
